/*In the Cookie Bar Displaying Settings*/
.wpcui_container{
    margin: 20px 20px 20px 0px;
}
.wpcui_body{
    background: #FFF;
}
.wpcui_header {
    background: rgb(100, 149, 237);
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}
.wpcui_logo{
    float: left;
    margin: 0px;
    max-width: 220px;
    max-height: 60px;
    overflow: hidden;
    padding: 23px 20px 18px;
}
.wpcui_logo img{
    width: 100%;
}
.wpcui_title{
    margin: 0px;
}
.wpcui_header h1 {
    color: white;
    padding: 40px 20px;
    text-align: right;
    font-size: 22px;
}
.wpcui_container input:hover{
    border: solid 1px #ccc;
    box-shadow: none;
}
.wpcui_container  input:focus{
    border: solid 1px #999;
    box-shadow: none;
}
table.wpcui-cookie-bar-display-table {
    width: 100%;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
table.wpcui-cookie-bar-display-table thead{
    background: #fff;
    text-align: left;
}
table.wpcui-cookie-bar-display-table thead th{
    border-bottom: solid 1px #e1e1e1;
}
table.wpcui-cookie-bar-display-table tfoot th{
    border-top: solid 1px #e1e1e1;
}
table.wpcui-cookie-bar-display-table tbody tr{
    background: #f3f3f3;
    height: 40px;
}
table.wpcui-cookie-bar-display-table tbody tr:nth-child(odd){
    background: #fdfdfd;
}
table.wpcui-cookie-bar-display-table thead tr,
table.wpcui-cookie-bar-display-table tfoot tr{
    height: 40px;
}
table.wpcui-cookie-bar-display-table thead tr th,
table.wpcui-cookie-bar-display-table tfoot tr th{
    background: #FFF;
    padding-left: 10px;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
}
table.wpcui-cookie-bar-display-table tbody tr td{
    padding-left: 10px;
}
table.wpcui-cookie-bar-display-table tbody tr td .cookie_settings_options,
table.wpcui-cookie-bar-display-table tbody tr td .wcui_cookie_bar_name{
    display: inline-block;
}
table.wpcui-cookie-bar-display-table tbody tr td{
    color: #666;
}
table.wpcui-cookie-bar-display-table tbody tr td .wcui_cookie_bar_name{
    font-size: 14px;
    line-height: 35px;
    font-weight: 600;
    color: rgb(100, 149, 237);
}
table.wpcui-cookie-bar-display-table tbody tr td .cookie_settings_options a{
    font-size: 14px;
    height: 25px;
    width: 25px;
    background: rgb(100, 149, 237);
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    transition: ease-in-out 0.3s;
    position: relative;
    border: solid 1px transparent;
    margin-top: 5px;
}
table.wpcui-cookie-bar-display-table tbody tr td .cookie_settings_options a.wpcui_preview_button{
    background: #e2ad33;
}
table.wpcui-cookie-bar-display-table tbody tr td .cookie_settings_options a.wpcui_edit_button:before{
    content: "\f040";
    position: absolute;
    font-family: fontawesome;
    top: 0;
    left: 0;
    transform: translateY(20%) translateX(50%);
}
table.wpcui-cookie-bar-display-table tbody tr td .cookie_settings_options a.wpcui_preview_button:before{
    content: "\f06e";
    position: absolute;
    font-family: fontawesome;
    top: 0;
    left: 0;
    transform: translateY(20%) translateX(40%);
}
table.wpcui-cookie-bar-display-table tbody tr td .cookie_settings_options a:hover{
    background: #FFF;
    border-color: rgb(100, 149, 237);
    color: rgb(100, 149, 237);
}
table.wpcui-cookie-bar-display-table tbody tr td .cookie_settings_options a.wpcui_preview_button:hover{
    color: #e2ad33;
    border-color: #e2ad33;
}
table.wpcui-cookie-bar-display-table tbody tr td .cookie_settings_options a:focus{
    outline: none;
    box-shadow: none;
}
table.wpcui-cookie-bar-table tbody{
    text-indent: 5px;
}
#wpcui_listing_demo_text,
#wpcui_listing_demo_bg{
    border: solid 1px #000;
    margin-left: 5px;
}
/*In the Manage Settings Page*/
.wpcui_header a {
    position: relative;
    top: -35px;
    left: 12px;
}
/*Title Field styling*/
.wpcui_title_field {
    margin-bottom: 30px;
}
.wpcui_title_field label {
    display: block;
    font-size: 24px;
    font-weight: 600;
}
.wpcui_title_field input{
    display: block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    margin-top: 20px;
    transition: ease-in-out 0.3s;
}
.wpcui-cookie-bar-form-container {
    display: block;
    padding: 0px;
}
.wpcui-cookie-bar-form-container .nav-tab-wrapper a:focus{
    outline: none;
    box-shadow: none;
}
.wpcui-cookie-bar-form-container .nav-tab-wrapper a.nav-tab{
    padding: 7px 15px 7px 35px;
    position: relative;
}
.wpcui-cookie-bar-form-container .nav-tab-wrapper .nav-tab-active{
    border-bottom: 1px solid #FFF;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    background: #FFF;
}
.wpcui-cookie-bar-form-container .nav-tab-wrapper a.nav-tab:before{
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 14px;
    font-family: fontawesome;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.wpcui-cookie-bar-form-container .nav-tab-wrapper a#wpcui_content_nav_tab:before{
    content: "\f040";
}
.wpcui-cookie-bar-form-container .nav-tab-wrapper a#wpcui_design_nav_tab:before{
    content: "\f009";
}
.wpcui-cookie-bar-form-container .nav-tab-wrapper a#wpcui_extra_nav_tab:before{
    content: "\f013";
}
/*Error message span*/
.wpcui_title_field span {
    display: inherit;
    text-indent: 0px;
    width: 100%;
}
/* For all color picker input field*/
.wp-picker-container {
    display: inline-block;
}

/*Custom color display*/
.wpcui-color-field-wrapper .wpcui_design_settings_field {
    display: block;
    width: 100%;
}
.wpcui-color-field-wrapper label.wpcui-color-field-label {
    display: block;
    width: unset;
    margin: 30px 0 50px;
    font-size: 24px;
    font-weight: 600;
    vertical-align: top;
    font-family: Roboto;
    position: relative;
}
.wpcui-color-field-wrapper label.wpcui-color-field-label:after{
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background: #20a8d8;
    bottom: -20px;
    left: 0;
}
.wpcui-cookie-bar-form-container .wp-editor-wrap .wp-switch-editor{
    height: 20px;
    padding: 3px 8px;
}
.wpcui-cookie-bar-form-container .wpcui_struct_settings_field{
    margin-top: 20px;
}
.wpcui-cookie-bar-form-container .wpcui_struct_settings_field textarea{
    width: 60%;
    transition: ease-in-out 0.3s;
}
.wpcui-cookie-bar-form-container .wpcui_struct_settings_field textarea:hover{
    border-color: #ccc;
}
.wpcui-cookie-bar-form-container .wpcui_struct_settings_field textarea:focus{
    border-color: #999;
    box-shadow: none;
}
.wpcui-cookie-bar-form-container .wpcui_design_settings_field img.wpcui-template-bar-image-container{
    width: 50%;
    margin: 30px auto;
    margin-left: 205px;
}
.wpcui-cookie-bar-form-container .wpcui_struct_settings_field label,
.wpcui-cookie-bar-form-container .wpcui_struct_settings_field .wpcui_checkbox_wrap,
.wpcui-cookie-bar-form-container .wpcui_design_settings_field .wpcui_checkbox_wrap,
.wpcui_main_function_wrap .wpcui_choice_settings_field .wpcui_checkbox_wrap{
    display: inline-block;
}
.wpcui-cookie-bar-form-container .wpcui_struct_settings_field .wpcui_checkbox_wrap span{
    padding-left: 10px;
}
/*For general settings*/
.wpcui_struct_settings_header {
    padding: 10px 0px;
}
.wpcui_struct_settings_header h3,
.wpcui_extra_settings_header h3,
.wpcui_design_settings_header h3 {
    font-size: 18px;
    position: relative;
    margin: 20px 0 40px;
    font-weight: 700;
}
.wpcui_struct_settings_header h3{
    margin-bottom: 30px;
}
.wpcui_extra_settings_header h3{
    margin-top: 30px;
}
.wpcui_struct_settings_header h3:after,
.wpcui_extra_settings_header h3:after,
.wpcui_design_settings_header h3:after{
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background: #20a8d8;
    bottom: -18px;
    left: 0;
}
.wpcui_struct_settings_field i.additional_field_message{
    display: block;
    text-indent: 204px;
}
.wpcui_main_function_wrap .wpcui_choice_settings_field label,
.wpcui_struct_settings_field label {
    display: inline-block;
    width: 200px;
    font-size: 14px;
    vertical-align: middle;
    font-weight: 600;
}
.wpcui_main_function_wrap .wpcui_choice_settings_field .wpcui_checkbox_wrap input[type="checkbox"],
.wpcui-cookie-bar-form-container .wpcui_checkbox_wrap input[type="checkbox"]{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
}
.wpcui_main_function_wrap .wpcui_choice_settings_field .wpcui_checkbox_wrap input[type="checkbox"] + label,
.wpcui-cookie-bar-form-container .wpcui_checkbox_wrap input[type="checkbox"] + label{
    cursor: pointer;
    padding: 2px;
    width: 37px;
    height: 20px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    outline: none;
    float: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}
.wpcui_main_function_wrap .wpcui_choice_settings_field .wpcui_checkbox_wrap input[type="checkbox"] + label::before,
.wpcui-cookie-bar-form-container .wpcui_checkbox_wrap input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 20px;
    background-color: #dddddd;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
    border-radius: 15px;
}
.wpcui_main_function_wrap .wpcui_choice_settings_field .wpcui_checkbox_wrap input[type="checkbox"] + label::after,
.wpcui-cookie-bar-form-container .wpcui_checkbox_wrap input[type="checkbox"] + label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 4px;
    bottom: 3px;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    -webkit-transition: margin 0.4s, background 0.4s;
    -moz-transition: margin 0.4s, background 0.4s;
    -o-transition: margin 0.4s, background 0.4s;
    transition: margin 0.4s, background 0.4s;
    border-radius: 50%;
}
.wpcui_main_function_wrap .wpcui_choice_settings_field .wpcui_checkbox_wrap input[type="checkbox"]:checked + label::before, 
.wpcui-cookie-bar-form-container .wpcui_checkbox_wrap input[type="checkbox"]:checked + label::before, 
.wpcui-cookie-bar-form-container .wpcui_checkbox_wrap input[type="checkbox"]:checked + label::before {
    background-color: rgb(100, 149, 237);
    margin: 0;
}
.wpcui_main_function_wrap .wpcui_choice_settings_field .wpcui_checkbox_wrap input[type="checkbox"]:checked + label::after,
.wpcui-cookie-bar-form-container .wpcui_checkbox_wrap input[type="checkbox"]:checked + label::after, 
.wpcui-cookie-bar-form-container .wpcui_checkbox_wrap input[type="checkbox"]:checked + label::after {
    margin-left: 22px;
}
.wpcui_struct_settings_field {
    margin-bottom: 20px;
}

/*Error message are stored in span tag*/
.wpcui_struct_settings_field span {
    display: inherit;
}
/*For Display Settings*/
.wpcui_design_settings_wrap {
    padding: 0px;
}
.wpcui_design_settings_header {
    padding: 10px 0px;
}
.wpcui_design_settings_field{
    width: 100%;
}
.wpcui_design_settings_field label {
    display: inline-block;
    width: 200px;
    font-size: 16px;
    vertical-align: middle;
}
.wp-picker-input-wrap label{
    width: auto;
}
.wpcui_design_settings_field {
    margin-bottom: 20px;
}

.wpcui_design_settings_field select {
    width: 200px;
}
.wp-picker-container .wp-color-result.button{
    height: 33px;
    border: solid 1px #ddd;
    box-shadow: none;
    margin-bottom: 0px;
    -webkit-border-radius: 0px;
            border-radius: 0px;
    width: 120px;
}
.wp-picker-container input.wp-color-picker{
    height: 33px;
}
.wp-picker-container .wp-color-result.button .color-alpha{
    -webkit-border-radius: 0px !important;
            border-radius: 0px !important;
}
.wp-color-result-text{
    line-height: 31px;
}
.wp-picker-container .color-alpha{
    height: 31px !important;
}
.wp-picker-container input.wp-picker-clear{
    vertical-align: middle;
}
/*For Extra Settings*/
.wpcui_extra_settings_wrap {
    padding: 0px;
}
.wpcui_extra_settings_header {
    padding: 0px;
}
.wpcui_extra_settings_field select {
    width: 200px;
}
.wpcui_extra_settings_field label {
    display: inline-block;
    width: 200px;
    font-size: 17px;
    vertical-align: top;
}
.wpcui_extra_settings_field {
    margin-bottom: 20px;
}
/*For Options Settings*/
.wpcui_choice_settings_wrap {
    padding: 12px;
}
.wpcui_choice_settings_header {
    padding: 10px;
}
.wpcui_choice_settings_header h3 {
    font-size: 25px;
}
.wpcui_choice_settings_field i.additional_field_message{
    display: block;
    text-indent: 204px;
}
.wpcui_choice_settings_field label {
    display: inline-block;
    width: 200px;
    font-size: 17px;
    vertical-align: top;
}
.wpcui_choice_settings_field {
    margin-bottom: 20px;
}
/*WP_EDITOR styles*/
div#wp-wpcui_wp_editor_in_settings-wrap {
    width: 60%;
    display: inline-block;
} 
a#add_cookie_bar .button{
    margin-bottom: 20px;
}       
.wpcui_container .button-primary,
.wpcui-cookie-bar-form-container .button-primary{
    padding: 4px 10px 5px;
    margin-bottom: 0px;
    border-radius: 4px;
    font-size: 14px;
    height: auto;
    box-shadow: none;
    text-shadow: none;
    background: rgb(100, 149, 237);
    border: solid 1px rgb(100, 149, 237);
    transition: ease-in-out 0.3s;
}
.wpcui_container .button-secondary{
    padding: 3px 20px 5px;
    height: auto;
    background: #4dbd74;
    color: #FFF;
    border: solid 1px transparent;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    font-weight: 600;
}
a#add_custom_template .wpcui_add_button{
    margin-bottom: 20px;
}
.wpcui_container .button-secondary:hover{
    background: rgb(100, 149, 237);
    border-color: rgb(100, 149, 237);
    color: #FFF;
}
.wpcui_container .button-primary:hover,
.wpcui-cookie-bar-form-container .button-primary:hover{
    background: transparent;
    color: rgb(100, 149, 237);
}
.wpcui_container .button-primary:focus,
.wpcui_container button:focus{
    outline: none;
    box-shadow: none;
}
.wpcui_container form{
    padding: 30px;
    margin-top: 20px;
    background: #FFF;
}
.wpcui_custom_template_struct_wrap .wpcui_custom_template_field label,
.wpcui_custom_template_field label,
.wpcui_custom_template_struct_wrap label{
    font-size: 14px;
    display: inline-block;
    width: 300px;
}
.wpcui_custom_template_struct_wrap .wpcui_custom_template_field .wpcui_custom_template_title label{
    font-size: 24px;
    display: block;
    font-weight: 600;
}
.wpcui_custom_template_struct_wrap .wpcui_custom_template_field .wpcui_custom_template_title input{
    display: block;
    width: 100%;
    margin-top: 20px;
}
.wpcui_custom_template_field{
    margin: 0px 0px 30px;
}
.wpcui_custom_template_struct_wrap input{
    height: 36px;
    padding: 8px 10px;
}
.wpcui_custom_template_preview_wrap{
    padding: 15px;
    margin: 20px 0px 0px;
}
label.wpcui-color-field-label{
    font-size: 18px;
    font-weight: 700;
    position: relative;
    margin: 20px 0 50px;
}
label.wpcui-color-field-label:after{
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background: #20a8d8;
    bottom: -15px;
    left: 0;
}
.wp-picker-container label{
    width: auto;
}
.wpcui_extra_settings_field label,
.wpcui_design_settings_body label{
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
}
.wpcui_container input.regular-text{
    padding: 8px 10px;
    transition: ease-in-out 0.3s;
}
.wpcui_extra_settings_field input{
    height: 40px;
    padding-left: 15px;
    -moz-appearance: textfield;
}
.wpcui_container input[type=number]::-webkit-inner-spin-button, 
.wpcui_container input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}
.wp-core-ui .notice.is-dismissible{
    margin: 0px;
    margin-bottom: 20px;
}
.wpcui_container input.wpcui_custom_template_name{
    width: 300px;
    transition: ease-in-out 0.3s;
}
.wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper{
    padding: 10px 30px 10px;
    background: #FFF;
}
.wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper .sub-title{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0px 20px;
    width: 100%;
}
/*.wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper .sub-title:after{
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background: #20a8d8;
    bottom: -20px;
    left: 0;
}*/
.wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper p{
    line-height: 24px;
}
.wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper p strong{
    font-size: 15px;
    font-weight: 600;
}
.wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper .product{
    width: 33.33%;
    margin: 0px;
    float: left;
    text-align: center;
}
.wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper a{
    text-decoration: none;
}
.wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper .product a span{
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
.wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper .social-icon{
    padding-left: 0px;
    list-style: none;
    padding: 20px 0px 10px;
}
.wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper .social-icon li{
    display: inline-block;
}
.wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper .more-acs-thms{
    display: table;
    width: 100%;
    margin-top: 10px;
}
.wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper .product-wrapper{
    display: table;
    width: 100%;
    height: 100%;
}
.wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper .product-wrapper .product a{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    display: block;
    height: 100%;
}
.wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper .product-wrapper .product img{
    vertical-align: middle;
}
.wpcui-facebook-sett iframe{
    margin-top: 10px;
}
.wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper .wpcui-get-in-touch{
    display: table;
    margin-top: 20px;
    width: 100%;
}
.wpcui_custom_color_tab_wrapper{
    display: block;
    width: 100%;
    position: relative;
}
.wpcui_custom_template_color_tab_selector a,
.wpcui_custom_template_color_tab_selector a:hover,
.wpcui_custom_template_color_tab_selector a:focus{
    text-decoration: none;
    outline: none;
    box-shadow: none;
}
.wpcui-tab-title{
    font-size: 18px;
    font-weight: 700;
    position: relative;
    padding: 20px 15px;
    background: #20a8d8;
    color: #FFF;
}
/*.wpcui-tab-title:after{
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background: #20a8d8;
    bottom: -15px;
    left: 0;
}*/
.wpcui_custom_template_color_tab_selector{
    width: 25%;
    float: left;
    margin: 0px;
    background: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.2);
}
.wpcui_custom_template_color_tab_selector a{
    height: 45px;
    line-height: 45px;
    position: relative;
    display: block;
    transition: ease-in-out 0.3s;
}
.wpcui_custom_template_color_tab_selector a:before{
    position: absolute;
    font-family: fontawesome;
    left: 20px;
    top: 0;
    transform: translateY(3%);
    color: #FFF;
    font-size: 18px;
}
.wpcui_custom_template_color_tab_selector a:after{
    position: absolute;
    content: "";
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    transition: ease-in-out 0.3s;
}
.wpcui_custom_template_color_tab_selector a.wpcui_active_color_tab,
.wpcui_custom_template_color_tab_selector a:hover{
    background: rgba(255,255,255,0.075);
}
.wpcui_custom_template_color_tab_selector a.wpcui_active_color_tab:after,
.wpcui_custom_template_color_tab_selector a:focus:after,
.wpcui_custom_template_color_tab_selector a:hover:after{
    background: rgb(100, 149, 237);
}
.wpcui_custom_template_color_tab_selector a#wpcui_bar_colors:before{
    content: "\f108";
}
.wpcui_custom_template_color_tab_selector a#wpcui_info_button_colors:before{
    content: "\f00c";
}
.wpcui_custom_template_color_tab_selector a#wpcui_more_info_button_colors:before{
    content: "\f0eb";
}
.wpcui_custom_template_color_tab_selector a#wpcui_close_button_colors:before{
    content: "\f00d";
}
.wpcui_custom_template_color_tab_selector a div.wpcui_color_tab_content{
    padding-left: 55px;
    font-size: 14px;
    color: #FFF;
}
.wpcui_custom_tab{
    width: 75%;
    float: left;
    margin: 0px;
    background: #FFF;
}
.wpcui_custom_tab .wpcui_color_customizations{
    padding: 30px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}
label.wpcui-color-field-label{
    display: none;
}
.wpcui_custom_template_form button.button-primary{
    margin-bottom: 0px;
}
div.nice-select.wpcui_custom_template_preview_selector ul.list {
    height: 300px;
    overflow-y: scroll;
}

@media only screen and (max-width: 768px){
    .wpcui_header{
        height: 70px;
    }
    .wpcui_logo{
        max-width: 150px;
        padding: 18px 20px;
    }
    .wpcui_header h1{
        padding: 25px 20px;
        font-size: 18px;
    }
    div#wp-wpcui_wp_editor_in_settings-wrap {
        width: 100%;
        display: block;
    }
    .wpcui-cookie-bar-form-container .wpcui_struct_settings_field textarea{
        display: block;
        width: 100%;
    }
    .wpcui_container input.regular-text{
        display: block;
        width: 100%;
    }
    .wpcui-cookie-bar-form-container .wpcui_struct_settings_field label, .wpcui-cookie-bar-form-container .wpcui_struct_settings_field .wpcui_checkbox_wrap, .wpcui-cookie-bar-form-container .wpcui_design_settings_field .wpcui_checkbox_wrap, .wpcui_main_function_wrap .wpcui_choice_settings_field .wpcui_checkbox_wrap{
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .wpcui_main_function_wrap .wpcui_choice_settings_field label, .wpcui_struct_settings_field label{
        display: block;
        margin-bottom: 10px;
    }
    .wpcui_container #wpcui-board-about-settings .wpcui-tab-wrapper .product{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .wpcui-facebook-sett iframe{
        width: 100% !important;
    }
    .wpcui-cookie-bar-form-container .wpcui_design_settings_field img.wpcui-template-bar-image-container{
        width: 100%;
        margin: 30px auto;
        margin-left: 0px;
    }
}
@media only screen and (max-width: 400px){
    .wpcui_logo{
        max-width: 120px;
        padding: 20px 5px;
    }
    .wpcui_header h1{
        padding: 25px 5px;
        font-size: 16px;
    }
}

.wpcui_container{
    width:70%;
    float:left;
}

.wpcui-postbox-container{
    width: 28%;
    float: right;
    margin-top: 30px;
}